<div>
    <h1>{{view.title}}</h1>
    <ul>
        <li ng-repeat="person in persons">
            <input type="text" ng-model="person.name">
            <input type="text" ng-model="person.surname">
            <input type="text" ng-model="person.favorite">
        </li>
    </ul>
    <!--<form ng-submit="addTodo()">-->
        <!--<input type="text" ng-model="todoText" size="30" placeholder="add new todo here">-->
        <!--<input class="btn-primary" type="submit" value="add">-->
    <!--</form>-->
</div>
